{% extends "template.html" %}
{% block content %}

<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg
                    class="bi me-2"
                    width="40"
                    height="32"
                    role="img"
                    aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#"
                        class="nav-link px-2 link-secondary">Overview</a>
                </li>
                <li>
                    <a href="#"
                        class="nav-link px-2 link-body-emphasis">Inventory</a>
                </li>
                <li>
                    <a href="#"
                        class="nav-link px-2 link-body-emphasis">Customers</a>
                </li>
                <li>
                    <a href="#"
                        class="nav-link px-2 link-body-emphasis">Products</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
                role="search">
                <input
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                    aria-label="Search">
            </form>
            <div class="dropdown text-end">
                <a
                    href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img
                        src="https://avatars.githubusercontent.com/u/151084972?s=96&v=4"
                        alt="userlogo"
                        width="32"
                        height="32"
                        class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li>
                        <a class="dropdown-item" href="#">New
                            project...</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Profile</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Usuários Registrados</h2>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="/register">
            <button type="button"
                class="btn btn-success"><i class="fa fa-plus"
                    aria-hidden="true"></i>&nbsp;Registrar</button>
        </a>
        <a href="/logout" class="text-end">Sair</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td class="w-auto text-end"
                    style="display: flex; gap: 15px; justify-content: flex-end;">
                    <a href="/update/{{ user.id }}">
                        <button type="button"
                            class="btn btn-primary"><i
                                class="fa fa-pencil-square-o"
                                aria-hidden="true"></i>
                            Atualizar</button>
                    </a>
                    <a href="/delete/{{ user.id }}">
                        <button type="button"
                            class="btn btn-danger"><i
                                class="fa fa-trash-o"></i>
                            Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}